body {
    font-family: "Shippori Mincho", serif;
    margin: 8% 10%;
}

div,
h1,
h2 {
    line-height: 150%;
}

ruby {
    line-height: 100%;
}

rt {
    line-height: 50%;
}

a {
    text-decoration: none;
}